html {
    height : 100%;
}

body {
    background-color : #fcfcfc;
    text-align       : center;
    font-family      : 'Raleway', sans-serif;
    font-size        : 14px;
    color            : #2d2d2c;
    height           : 100%;
}

.navbar {
    position   : fixed;
    width      : 100%;
    box-sizing : border-box;
}

.nav {
    list-style : none;
    padding    : 50px 100px;
    float      : right;
}

.nav li {
    background-color : #fcfcfc;
    padding          : 5px 10px;
    border-radius    : 5px;
}

.nav li.inactive {
    display : none;
}

.wrap {
    display             : -ms-flexbox;
    display             : -webkit-flex;
    display             : flex;
    -ms-flex-align      : center;
    -webkit-align-items : center;
    -webkit-box-align   : center;
    align-items         : center;
    height              : inherit;
    flex-flow           : row wrap;
}

.side {
    display : inline-block;
}

.main {
    width       : 75%;
    margin      : 0 auto;
    flex-grow   : 1;
    flex-shrink : 0;
}

img {
    height  : 300px;
    margin  : 0 100px;
    display : inline-block;
}

article {
    text-align : left;
    display    : inline-block;
    width      : 40%;
    box-sizing : border-box;
}

#contact article {
    text-align : center;
}

h1 {
    font-size   : 36px;
    font-family : 'Pacifico', cursive;
    font-weight : normal;
}

.yellow:before {
    content          : '';
    display          : inline-block;
    background-color : #ffed48;
    /*background-color : #fcee21;*/
    height           : 16px;
}

.role.yellow:before {
    width         : 220px;
    margin-right  : -190px;
    margin-left   : -30px;
    margin-bottom : -5px;
}

.email.yellow:before {
    width         : 200px;
    margin-right  : -200px;
    margin-bottom : 1px;
}

p {
    letter-spacing : 1px;
    line-height    : 25px;
}

.emp {
    font-size : 25px;
}

.indent {
    font-size   : 20px;
    margin-left : 12px;
    line-height : 1px;
}

a {
    text-decoration : none;
    color           : #2d2d2c;
}

a:hover {
    color : #a09f92;
}

@media only screen and (max-width : 900px) {

    .main {
        width : 100%;
    }

    .nav {
        padding : 20px 50px;
    }

    article {
        width      : 75%;
        padding    : 20px;
        text-align : center;
    }
}

@media only screen and (max-width : 600px) {

    .main {
        width : 100%;
    }

    img {
        height : 150px;
    }

    article {
        width      : 100%;
        padding    : 20px;
        text-align : center;
    }

    .nav {
        padding : 20px 40px;
    }
}
